doctype html

include head
    title Bug report denied


body
    include header.pug
    +header('Bug report denied')
    main
        .container
            .row(class='error-united') Bug report denied
    include footer.pug