doctype html

include head
    title Foreign Website


body
    include header.pug
    +header('Foreign Website')
    main
        .container
            .row That's a foreign website
    include footer.pug
