mixin header(title)
    header(class='header_top')
        .container
            .row(class="header-menu")
                a(href='/', class="logo-coveo") Coveo
                p.white-text(class="header-message")=title
