doctype html

include head
    title WTH


body
    include header.pug
    +header('WTH')
    main
        .container
            .row(class='error-united') This is not a search results page
    include footer.pug
